svg {
  font-size: 24px;
}

.dungeon-index {
  --fa-primary-color: white !important;
  --fa-secondary-color: dodgerblue !important;
  --fa-primary-opacity: 1 !important;
  --fa-secondary-opacity: 1 !important;
}
