button {
  min-width: 18rem;
}

.pop-confirm :global(.ant-popconfirm-buttons) {
  flex-wrap: wrap;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.save-button {
  margin-bottom: 1rem;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 22rem;
}

.savegame-list {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.savegame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 22rem;
  width: 100%;
}
