.drawer {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  left: calc(100vw + 8px);

  padding: 0;
}
.drawer-closed {
  animation: 0.5s ease-in 0s slide-out backwards;
}
.drawer-open {
  animation: 0.5s ease-in 0.2s slide-in forwards;
}
.layout {
  background: ivory url("./pergamine-texture.jpg") no-repeat left top cover;
  height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  font-weight: bolder;
  background-color: transparent;
  padding: 0;
  border-bottom: 1px solid lightsteelblue;
  display: flex;
  align-items: center;
}
.header button {
  margin: 0 1em 0 0.5em;
}
.header h2 {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.content {
  padding: 1em 0.5em 0.5em 4em;
  line-height: 1.2;
  overflow-y: auto;
}

@media (max-width: 830px) {
  .content{
    padding: 0.5em;
  }
}

@keyframes slide-in {
  100% {
    left: 0;
  }
}

@keyframes slide-out {
  0% {
    left: 0;
  }
  100% {
    left: calc(100vw + 8px);
  }
}
